<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product table</title>

    <style>
        table,th,td{
            border: 2px solid black;
            border-collapse: collapse;
        }
        table{
            width: 100%;
            height: 400px;
            background-color: chartreuse;
        }
        td{
            padding: 20px;
        }
        h1{
            text-align: center;
        }


    </style>


</head>
<body>

<table>
    <h1>PRODUCTS</h1>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    <tr>
        <td>Laptop</td>
        <td>2</td>
        <td>ksh.80000</td>
    </tr>

    <tr>
        <td>Remote</td>
        <td>5</td>
        <td>ksh.3400</td>
    </tr>

    <tr>
        <td>Television</td>
        <td>5</td>
        <td>ksh.650000</td>
    </tr>

     <tr>
        <td>Television</td>
        <td>5</td>
        <td>ksh.650000</td>
    </tr>

     <tr>
        <td>Television</td>
        <td>5</td>
        <td>ksh.650000</td>
    </tr>


</table>





</body>
</html>