<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
</head>
<body>

<h1>PAYMENT SECTION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, minima quae? Ab accusamus aliquam, commodi deserunt excepturi impedit inventore ipsa laborum mollitia nesciunt placeat repudiandae sequi temporibus totam unde! Libero?</span><span>Aut, beatae error laboriosam molestiae quae quibusdam quis quisquam ratione tempora, temporibus voluptate voluptates? Aut consequuntur culpa cum dicta, ea enim in laborum maiores maxime optio quo recusandae totam veritatis.</span><span>Delectus fugiat laudantium odit qui rerum soluta voluptatibus. At blanditiis debitis est tenetur? Adipisci, alias, architecto aspernatur corporis cupiditate deleniti dolore dolorem doloribus eum excepturi nostrum quaerat quis sint velit.</span></p>

</body>
</html>